.c-about{
  width: 90%;
  .c-about-hr{
    width: 95%;
  }
  .c-about-intro{
    font-family: 'Poppins', sans-serif;
  }
  .c-about-logos img{
    display: inline-block;
    width: 33%;
    padding: 10px;
  }
}

@media screen and (max-width: 640px) {
  .c-about{
    width: 100%;
  }
}