.c-categoryHeader{
  background-image: url('../assets/front.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #dde0f4;
  .c-categoryHeader-caption{
    font-family: 'Montserrat', sans-serif;
  }
}