.c-findjob-top-caption{
  font-family: 'Montserrat', sans-serif;
}
.c-findjob-top-title{
  font-family: 'Poppins', sans-serif;
}
.c-btn-search{
  background-color: #FF8148;
}
.c-findjob-input-search{
  border: none !important;
  outline: none !important;
}
.c-input-search{
  border: none !important;
  outline: none !important;
}
.c-input-search:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}