.c-heroBottom{
  width: 90%;
  margin: auto;
  .c-heroBottom-subscribers,
  .c-heroBottom-applicants,
  .c-heroBottom-hire{
    color: #FB7C6D;
  }
}
.dot-left{
  position: relative;
  top: -187px;
  left: 134px;
  width: 7%;
}
.dot-right{
  position: relative;
  top: -155px;
  left: 1040px;
  width: 7%;
}