.c-herosection-caption{
  font-family: 'Montserrat', sans-serif;
  // font-weight: 800;
}
.Typewriter{
  padding-left: 10px;
  color: #FB7C6D;
  font-size: 2.5rem;
  font-weight: bold;
}
.c-btn-get-started{
  background-color: #FF8148;
}

@media screen and (max-width: 640px) {
  .Typewriter{
    font-size: 1.8rem;
    padding-left: 0px;
  }
}