.c-heroBottom-caption{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;   
}
.c-heroBottom{
  width: 90%;
  margin: auto;
  .c-heroBottom-subscribers,
  .c-heroBottom-applicants,
  .c-heroBottom-hire{
    color: #FB7C6D;
  }
  p{
    font-family: 'Poppins', sans-serif;
  }
}
.dot-left{
  position: absolute;
  bottom: 25px;
  left: 136px;
  width: 7%;
}
.dot-right{
  position: absolute;
  bottom: -110px;
  right: 137px;
  width: 7%;
}