.c-heroBottom{
  width: 90%;
  margin: auto;
  .c-heroBottom-subscribers,
  .c-heroBottom-applicants,
  .c-heroBottom-hire{
    color: #FB7C6D;
  }
}
.dot-left{
  position: absolute;
  bottom: 40px;
  left: 136px;
  width: 7%;
}
.dot-right{
  position: absolute;
  bottom: -68px;
  right: 137px;
  width: 7%;
}