.Typewriter{
  padding-left: 10px;
  color: #FB7C6D;
  font-size: 3rem;
  font-weight: bold;
}
.c-btn-get-started{
  background-color: #FF8148;
}

@media screen and (max-width: 640px) {
  .Typewriter{
    font-size: 1.8rem;
    padding-left: 0px;
  }
}