.c-jobs{
  h3,p{
    font-family: 'Poppins', sans-serif;
  }
  .c-btn-apply{
    border: 1px solid #FF8148;
    font-family: 'Poppins', sans-serif;
    &:hover{
      background-color: #FF8148;
      transition: background-color .4s ease-in-out;
    }
  }
}