.c-subscribe{
  width: 70%;
  background-color: #FB7C6D;
  .c-btn-subscribe{
    background-color: #00ACAC;
    &:hover{
      background-color: #019690;
    }
  }
  .c-subscribe-caption{
    font-family: 'Montserrat', sans-serif;
    // font-weight: 200;
  }
  .c-subscribe-text{
    font-family: 'Poppins', sans-serif;
  }
}
@media screen and (max-width: 640px) {
  .c-subscribe{
    width: 100%;
  }
}